  
<div class="text-center">
    <h1 class="display-4">Welcome To Our Hospital</h1>
    <br><br>
    <p>Than you for choosing our hospital for healthcare needs.</p>
    <p>Here, we strive to provide the highest quality medical care to our patient.</p>
    <p>Learn more about our services and specialties:</p>
    <div class="d-grid gap-2 hover">
        <button class="btn btn-lg btn-primary" type="button">Internal Medicine</button>
        <button class="btn btn-lg btn-primary" type="button">Pediatrics</button>
        <button class="btn btn-lg btn-primary" type="button">Surgey</button>
    </div>
    <br>
    <p>If you have any question or need assistance,please don't hesitate to contact us.</p>
    
</div>
